// .sectionContainer{
//   display : flex;
//   flex-direction : column; 
//   align-items:center;
// }

.container {

  display: flex;
  // swap the left and right 
  flex-direction: row-reverse;
  align-items: center;

  margin-top: -100px;
  

  .container > left {
    width      : 50%;
    position   : relative;
    display: flex;
    justify-content: center;
    align-items: center;


  };


  // .left {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

    
  //   // .phone {
  //   //   z-index: 1 !important;
  //   // }

  // }

  span {
    color: red;
    font-size: 25px;
    opacity: 0.6;
   
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bolder;
  }

  h4 {
    font-size: 1.7rem;
  }

  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
   // font-size: 40px;
  }
  
  .image{
    margin-right: 10px;
    display: inline-block;
    
  }

  .right {
    width      : 40%;

  }

  p {
    font-size: 20px;
    opacity: 0.5;
  }

}