@mixin display($flex) {
  display     : $flex;
}

.nav {
  background-color        : #fff;
  @include display(flex);
  flex                    : 1;
  text-align              : center;
  justify-content         : space-between;
  padding                 : 1rem 0;
  margin-right            : 80px;
  

  .items {
    @include display(flex);
    align-items        : center;
    gap                : 24px;
   margin-inline-end   : 80px
   // margin-bottom: 20px;
    
  }
}

