@import "../../pages/Core/styles/index.scss";

.container {
  white-space: nowrap;

  span {
    font-weight: normal;
    cursor     : pointer;
    transition : all .2s;
    &:hover {
      color: $color-red;
    }
  }
}