@import "../../../src/Common/styles/index.scss";
@import "../../Common/styles/index.scss";
@import "../../Common/styles/mixins.scss";


.container {
  white-space: nowrap;

  @include for-phone-only {    
    font-size: 1rem; 
  }
  @include for-tablet-portrait-up {    
    font-size: 1rem; 
  }
  @include for-tablet-landscape-up {    
    font-size: 1rem; 
  }
  @include for-desktop-up {    
    font-size: 1rem; 
  }
  @include for-big-desktop-up {    
    font-size: 1rem; 
  }

  span {
    font-weight: normal;
    cursor     : pointer;
    transition : all .2s;
    display: inline-block;
    padding: 0px 20px ;
    &:hover {
      color: $color-red;
    }
  }

}