.downloadbutton {
  width            : 180px;
  height           : 60px;
  background-color : black;
  color            : #ffff;
  cursor           : pointer;
  border-radius    : 5px;
  text-align       : center;
  font-size        : 1.2rem;
  float            : right;
  margin           : 0 0 0 5px;
}