@import "../../Core/styles/mixins.scss";

.container {
  display          : flex;
  height           : 100px;
  justify-content  : space-between;


  @include for-phone-only {    
    font-size: 1rem; 
  }
  @include for-tablet-portrait-up {    
    font-size: 1rem; 
  }
  @include for-tablet-landscape-up {    
    font-size: 1rem; 
  }
  @include for-desktop-up {    
    font-size: 1rem; 
  }
  @include for-big-desktop-up {    
    font-size: 1rem; 
  }

  .logo {
    width       : 117px;
    height      : 35px;
  };
  .button {
    padding-bottom  : 100px ;
  };  
};

