.container {
 
  background-color: pink;
  height: 60px;
  justify-content  : space-between;


  .nav {
  height: 26px;
  }

  .left {
    img {
      position    : absolute;
      width       : 117px;
      height      : 35px;
      margin-top  : 53px;
      padding-left: 175px;
    }
  }

  .center {
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
  
  }

  .right {
    width       : 180px;
    height      : 60px;
    //justify-content: flex-end;
    float: right;
  }
}

