//@import "../../Core/styles/mixins.scss";
//@import "../../../Common/styles/mixins.scss";
@import "Common/styles/index.scss";



.container {
  
  @include flex(center);
  @include forContainer();


  @media screen and (max-width: 400px) {
    display     : none;
  }

  .logo {
    width       : 117px;
    height      : 35px;
  };
  .button {
    padding-bottom  : 100px ;
  };  
};

