.container {

  float: left;
  width: 10%;
  margin: 0 5%;
  background-color: #fff;
  border: 1px solid blue;



  img {
    width: 50%
  }


  .content {
    display: flex;
    align-items: center;


    .right {

      h4 {
        margin-left: auto;
        font-weight: bold;
      }

      p {
        margin-left: auto;
      }
     }


    .left {
      overflow: hidden;
      position: relative;
    }

  } 
}